<div id="raf-item-header" class="raf-flex raf-flex--horizontal raf-background--gray raf-color--offWhite">
  <div class="raf-spacer--8px"></div>
  <div class="raf-menu raf-margin--auto">
    <i class="material-icons raf-font--2x">menu</i>
  </div>
  <div class="raf-spacer"></div>
  <div class="raf-item-name raf-margin--auto">{{currentItem.name}}</div>
  <div id="raf-share" class="raf-margin--auto">
    <i class="material-icons raf-font--2x">share</i>
  </div>
  <div id="raf-share-hint" class="raf-hint-box raf-hidden raf-color--black">
    Click on the share icon to share a link to this item with your friends on your favorite Social Media platform. Choose from
    Twitter, Pinterest, SnapChat, Facebook, Google+, or email or text.
    <button class="raf-dismiss-button">Got it!</button>
  </div>
  <div class="raf-spacer--8px"></div>
  <div id="raf-info" class="raf-margin--auto">
    <i class="material-icons raf-font--2x">info</i>
  </div>
  <div class="raf-spacer--8px"></div>
</div>