<div id="raf-splash">
  <div class="raf-flex raf-flex--vertical raf-flex--center raf-splash--content">
    <div id="raf-token" class="raf-flex raf-flex--center">
      <!-- <div id="raf-token__image" style="background-image: url(../../assets/raffees-token.png)"></div> -->
      <img src="assets/raffees-token.png" alt="logo" id="raf-token__image"/>
    </div>
    <div id="raf-name">raffees.com</div>
    <div id="raf-sub1">beautiful products</div>
    <div id="raf-sub2">given away daily</div>
  </div>
</div>
