<div id="raf-item-footer" class="raf-flex raf-flex--horizontal">
  <div id="raf-inc-dec-tokens">
    <div id="raf-inc-tokens" class="raf-flex raf-flex--vertical">
      <i class="material-icons raf-font--2x">expand_less</i>
    </div>
    <div id="raf-dec-tokens" class="raf-flex raf-flex--vertical">
      <i class="material-icons raf-font--2x">expand_more</i>
    </div>
  </div>
  <div class="raf-spacer--8px"></div>
  <div id="raf-token-count">
    <img src="/assets/raffees-token-empty.png" alt="token">
  </div>
</div>
