#raf-item-footer {
  z-index: 3;
}
.raf-flex {
  display: flex;
}
.raf-flex--horizontal {
  flex-direction: row;
}
.raf-flex--vertical {
  flex-direction: column;
}
.raf-font--2x {
  font-size: 200%;
}
.raf-spacer--8px {
  width: 8px;
}
#raf-token-count {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
#raf-token-count > img {
  width: 100%;
  height: auto;
}
